   body {
        background-color: #171718;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    #nav {
        background-color: #A6A6A6; 
        padding: 0;
        position: fixed; 
        margin: 0;
        border-radius: 0px;
        transform: translateX(0%);
        transition: 0.5s;
        z-index: 10000;
        width: 100%;
        text-align: center; 
    }

    .courier-prime-regular {
        color: #D9D9D9;
        font-family: "Courier Prime", monospace;
        font-weight: 400;
        font-style: normal;
    }

    .ibm-plex-sans-extralight {
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 200;
        font-style: normal;
      }

header {
    background-image: url("header.png");
    background-size: 1920px 800px;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 200px;
}
.header {
    display: table;
}

.headerImg {
    float: right;
    margin-left: 25vw;
    opacity: 0.6;
    margin-top: 30px;
}

#demo {
    color: #7d85b2;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    margin-left: 10vw;
    font-size: 175px;
    height: 175px;
    width: 500px;
    float: left;
}

.navbarLink {
    color: #347499;
    text-decoration: none;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 30px;
    font-family: Garamond;
}

#navbar {
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

table {
    margin-top: 50px; 
    margin-left: auto; 
    margin-right: auto; 
    display: flex;
}

tr {
    position: relative;
}

.special-elite-regular {
    color: white;
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
  }

footer {
    background-image: url("header.png");
    background-size: 1920px 800px;
    background-repeat: no-repeat;
    padding-left: 200px;
    padding-right: 200px;
}

.footer {
    font-family: "Courier Prime", monospace;
    font-style: normal;
    padding-top: 20px;
    border-collapse: collapse;
    width: 100%
}

.footerHeaderText {
    color: #7d85b2;
    font-size: 32.9px;
    font-weight: lighter;
    padding-right: 50px;
    text-align: left;
}

.footerSubText .footerSubLinks {
    color: #7d85b2;
    font-size: 20.9px;
    font-weight: lighter;
    padding-right: 50px;
    text-decoration: none;
    vertical-align: top;
}

.footerImg {
    margin-left: auto;
    opacity: 0.6;
}

@media (max-width: 1531px) {
    .headerImg {
        float: right;
        margin-left: 15vw;
        opacity: 0.6;
        margin-top: 30px;
    }
}

@media (max-width: 1531px) {
    header {
        background-image: url("header.png");
        background-size: 1920px 800px;
        background-repeat: no-repeat;
        padding-top: 200px;
        padding-bottom: 200px;
    }
}